DATABASE_URL=postgresql://postgres:password@db.viclzoftiudkepqnhekv.supabase.co:5432/postgres
SUPABASE_URL=https://viclzoftiudkepqnhekv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJ...
ALLOWED_ORIGINS=http://localhost:3000,https://frontend-two-alpha-39.vercel.app
